.container{
background-color:lightsalmon;
padding: 20px;
border-radius: 10px;
font-size: 20px;
max-width:700px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 20px;

}

.container input,select{
width:100%;
padding:10px;
border:1px solid brown;
box-sizing:border-box;
margin-bottom: 15px;
margin-top: 5px;
resize:vertical;
border-radius: 10px;
}
.gen{
display:flex;
justify-content: flex-start;}

	
#button{
background-color: darkcyan;
cursor:pointer}

.food{
display: flex;}

table{
border-collapse:collapse;
width:90%;
margin-top:15px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border-radius: 5px;
}

table th,td{
border:1.75px solid brown;
height:35px;
border-collapse:collapse;
background-color:burlywood;
text-align: center;

}

html{
background-color:#b3ffff;
}

p{
font-size:50px;}